<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/admin/static/css/sidebar.css">
    <link rel="stylesheet" href="/admin/static/css/base.css">
    <title>SerpoServer - Admin</title>
</head>
<body>
<div class="mx-auto container">
    <div class="mt-4 row">

        @Each.Sites
        <div class="col-md-4 card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Current.site_name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Current.site_domain</h6>
                <a onclick="selectSite(;@Current.site_id);" href="#" class="card-link">Select site</a>
            </div>
        </div>


        @EndEach
    </div>
    <script>
        function selectSite(id) {
            http.post("/admin/sites/select/" + id,
                null,
                function(status, data) {
                    localStorage.setItem('site', id);
                    Cookies.set("site", id);
                    window.location = "/admin";
                });
        }
    </script>
</div>

<script src="/static/js/http.js"></script>
<script src="/static/js/cookie.js"></script>
</body>
</html>