<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/AdminViews/Static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/AdminViews/Static/css/sidebar.css">
    <link rel="stylesheet" href="/AdminViews/Static/css/base.css">
    <script src="/AdminViews/Static/js/cookie.js"></script>
    <script src="/AdminViews/Static/js/http.js"></script>
    <script src="/AdminViews/Static/js/jq.js"></script>
    <script src="/AdminViews/Static/js/dom.js"></script>
    <script src="/AdminViews/Static/js/ace/ace.js"></script>
    <script src="/AdminViews/Static/bootstrap.min.js"></script>


    <script src="/AdminViews/Static/js/@Section['js'];"></script>
    <title>SerpoServer - Admin</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">SerpoServer</a>
    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"> <i class="fas fa-bars"></i></a>



</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
    
            <li>
                <a href="#">Pages</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
                <a  href="#">Users</a>
            </li>
            <li>
                <a href="#">Themes</a>
            </li>
            <li>
                <a  href="#">Addons</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div id="errMsg" class="alert alert-danger mx-auto" role="alert">

            <button type="button" class="close" onclick="dom.removeError()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container-fluid">
            @Section['content'];
       
        </div>
    </div>


</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>



</body>
</html>