@Master['shared/layout.html'];


@Section['content']

<div class="text-center row">
    <div class="col-md-6">
        @If.HasLeftColumn
        @Each.LeftColumn
        <div id="area@Current.module_name">
            <script src="/AdminViews/Static/js/modules/@Current.module_js"></script>

        </div>

        @EndEach
        @EndIf

    </div>
    <div class="col-md-6">
        <button type="button" id="editAdmin" class="pull-down btn btn-primary mb-4" data-toggle="modal" data-target="#adminEditor">
            Edit dashboard
        </button>
        @If.HasRightColumn
        @Each.RightColumn
        <div id="area@Current.module_name">
            <script type="application/javascript">
                    @Current.module_js
                </script>

        </div>
        @EndEach
        @EndIf


    </div>
</div>

<div class="modal fade" id="adminEditor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center row">
                    <div class="col-md-6">
                        <ul class="list-group" id="editorLeft"></ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group" class="editorRight" id="editorRight"></ul>
                    </div>
                </div>
                <script>
                    let mods = [];
                    $(document).ready(function() {

                        http.get("/admin/modules/all/",
                            function(modules, status) {
                                if (status === 200) {
                                    if (modules.length <= 0) {
                                        $("#saveBtn").prop('disabled', true);
                                    }
                                    for (let i = 0; i < modules.length; i++) {
                                        let module = modules[i];
                                        if (module.module_active) {
                                            if (module.module_pos === 1) {

                                                $("#editorRight").append(
                                                    `<li class="list-group-item" id="elem${module.module_id}">${
                                                    module.module_name
                                                    } <button class="ml-2 btn btn-outline-danger" onclick="removeElm(${
                                                    module.module_id})">X</button></li>`);
                                            } else {


                                                $("#editorLeft").append(
                                                    `<li class="list-group-item" id="elem${module.module_id}">${
                                                    module.module_name
                                                    } <button class="ml-2 btn btn-outline-danger" onclick="removeElm(${
                                                    module.module_id})">X</button></li>`);
                                            }
                                        } else {

                                            $("#editorAddDrp").append(
                                                `<div class="dropdown-item" id="addList${module.module_id
                                                }" role="group" aria-label="Basic example">
${module.module_name}
<div class="btn-group ">
  <button type="button" onclick="addItem(${module.module_id}, 0)" class="btn btn-secondary">Left</button>
  <button type="button" onclick="addItem(${module.module_id}, 1)" class="btn btn-secondary">Right</button>
  </div>
</div>`);
                                        }

                                    }
                                    mods = modules;
                                    if (modules.length < 2) {
                                        $("#editorAddBtn").hide();
                                    }
                                    $("#editorRight").sortable();
                                    $("#editorLeft").sortable();
                                    $("#editorLeft").sortable().bind('sortupdate',
                                        function() {
                                            updateOrder();
                                        });
                                    $("#editorRight").sortable().bind('sortupdate',
                                        function() {
                                            updateOrder();
                                        });

                                }
                            });


                    });

                    function getModule(id) {
                        for (let i = 0; i < mods.length; i++) {
                            let m = mods[i];
                            if (m.module_id === id) {
                                return m;
                            }
                        }
                    }

                    function updateOrder() {
                        let activeMods = [];
                        let y = 0;
                        $("#editorRight").each(function(i, obj) {
                            let m = getModule(obj.attr("id"));
                            m.module_pos = 1;
                            m.module_lat = y;
                            y++;
                            activeMods.push(m);
                        });
                        y = 0;
                        $("#editorLeft").each(function(i, obj) {
                            let m = getModule(obj.attr("id"));
                            m.module_pos = 0;
                            m.module_lat = y;
                            y++;
                            activeMods.push(m);
                        });
                        mods = activeMods;
                    }

                    function save() {

                        http.post("/admin/modules/order",
                            mods,
                            function(data, status) {
                                location.reload();
                            });
                    }

                    function addItem(id, pos) {
                        let module = getModule(id);
                        module.module_active = true;
                        if (module.module_id === id) {
                            module.module_pos = pos;
                            if (pos === 1) {
                                $("#editorRight")
                                    .append(
                                        `<li class="list-group-item" id="elem${module.module_id}">${module.module_name
                                        } <button class="ml-2 btn btn-outline-danger" onclick="removeElm(${module
                                        .module_id})">X</button></li>`);
                            } else {
                                $("#editorLeft")
                                    .append(
                                        `<li class="list-group-item" id="elem${module.module_id}">${module.module_name
                                        } <button class="ml-2 btn btn-outline-danger" onclick="removeElm(${module
                                        .module_id})">X</button></li>`);
                            }
                        }
                        $("#addList" + id).remove();
                        mods.push(module);

                    }

                    function addModule() {

                    }

                    function removeElm(id) {
                        let module = getModule(id);


                        module.module_active = false;
                        $("#editorAddDrp").append(
                            `<div class="dropdown-item" id="addList${module.module_id
                            }" role="group" aria-label="Basic example">
${module.module_name}
<div class="btn-group ">
  <button type="button" onclick="addItem(${module.module_id}, 0)" class="btn btn-secondary">Left</button>
  <button type="button" onclick="addItem(${module.module_id}, 1)" class="btn btn-secondary">Right</button>
  </div>
</div>`);
                        $("#elem" + id).remove();
                        modules.pop(module);

                    }
                </script>
            </div>
            <div class="modal-footer">

                <div class="dropdown">
                    <button id="editorAddBtn" aria-invalid="editorAdd" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add item
                    </button>
                    <div class="dropdown-menu" id="editorAddDrp" aria-labelledby="dropdownMenu2">

                    </div>
                </div>

                <a href="/admin/modules/createoredit" class="btn btn-primary">Add module</a>
                <button type="button" id="saveBtn" onclick="save()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@EndSection