@Master['shared/layout.html'];

@Section['js']modules.js@EndSection

@Section['sidebar']
<a href="/admin/modules/createoredit" class="btn btn-primary btn-wide">Create new</a>

<select onchange="sortAfter()" id="sorting" class="mt-2 form-control">
    <option>Sort After</option>
    <option value="true">Active</option>
    <option value="false">Inactive</option>

</select>
<script>
    if (urlParams['sort']) {
        dom.setValue("sorting", urlParams['active']);
    }

    function sortAfter() {
        let after = dom.getValue('sorting');
        window.location = "/admin/modules?active=" + after;
    }
</script>
@EndSection
@Section['content']
<div class="row">

    @Each.Modules
    <div class="col-md-5 m-1 card card-lg">
        <div class="card-body">
            <h5 class="card-title">@Current.module_name</h5>
            <a href="/admin/modules/createoredit/@Current.module_id" class="card-link">Edit</a>
            <a onclick="modules.remove(;@Current.module_id);" href="" class="card-link">Delete</a>
        </div>
    </div>
    @EndEach
</div>


@EndSection