@Master['shared/layout.html']
@Section['js']sites.js@EndSection
@Section['sidebar']

<a href="/admin/site/createoredit" class="btn btn-primary btn-wide">Create new</a>
@EndSection
@Section['content']
<div class="row">
    @Each.Sites
    <div class="col-md-4">
        <div class="card card-lg m-1">
            <div class="card-body">
                <h5 class="card-title">@Current.site_name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Current.site_domain</h6>
                <a href="/admin/sites/createoredit?user=@Current.site_id" class="card-link">Edit</a>
                <a onclick="sites.remove(;@Current.site_id);" href="" class="card-link">Delete</a></li>
            </div>
        </div>
    </div>
    @EndEach


</div>

@EndSection